(function(){var f,p,q,r,h,j,k,s,t,m,n,o,g,u=[].slice;window.iced={Deferrals:function(){function a(a){this.continuation=a;this.count=1;this.ret=null}a.prototype._fulfill=function(){if(!--this.count)return this.continuation(this.ret)};a.prototype.defer=function(a){var b=this;++this.count;return function(){var e,d;e=1<=arguments.length?u.call(arguments,0):[];if(a!=null)(d=a.assign_fn)!=null&&d.apply(null,e);return b._fulfill()}};return a}(),findDeferral:function(){return null}};window.__iced_k=window.__iced_k_noop=
function(){};f=this.jQuery;p=this.document;h=this.History;m={};o={};g=null;q=function(a,c){var b;(b=m[a])?c(b):f.ajax("messages.json",{error:function(){console.log("messages could not be fetched at this time!");return c()},success:function(b){var d,i,l,f,g,h,j,k;d=function(a){if(!(a<0||a>=b.length))return a=b[a][1][0].headers,{from:t(a.from),message_id:a.message_id,message_id_hash:a.message_id_hash,subject:a.subject}};i=g=0;for(j=b.length;g<j;i=++g){l=b[i];f=l[1];h=0;for(k=f.length;h<k;h++)l=f[h],
m[l.headers.message_id_hash]={previous:d(i-1),next:d(i+1),message:l}}return c(m[a])}})};r=function(a){g?a(g):f.ajax("[[web_root|string-data]]templates.json",{error:function(){console.log("templates could not be fetched at this time!");return a()},success:function(c){g=c;return a(g)}})};j=function(){return f("#paging a").click(function(a){var c,b,e,d,i;d=iced.findDeferral(arguments);a.preventDefault();e=this.pathname.split(/\//);c=e[e.length-1].split(".")[0];(function(a){i=new iced.Deferrals(a,{parent:d,
filename:"messages.jst.coffee"});q(c,i.defer({assign_fn:function(){return function(a){return b=a}}(),lineno:79}));i._fulfill()})(function(){b&&h.pushState(b,p.title,b.message.headers.message_id_hash+".html");return!1})})};n=function(a){var c,b;if(b=o[a])return b;(c=g[a])&&(b=o[a]=jsontemplate.Template(c,{meta:"{{}}",more_formatters:jsontemplate.CallableRegistry(function(a){var b;if(b=n(a))return function(a){return b.expand(a)}})}));return b};k=function(a,c){var b,e;b=iced.findDeferral(arguments);
(function(a){e=new iced.Deferrals(a,{parent:b,filename:"messages.jst.coffee",funcname:"parse_template"});r(e.defer({assign_fn:function(){return function(a){return a}}(),lineno:116}));e._fulfill()})(function(){return c(n(a))})};s=function(a){var c,b,e,d;e=iced.findDeferral(arguments);(function(a){d=new iced.Deferrals(a,{parent:e,filename:"messages.jst.coffee",funcname:"render_message"});k("controls.html.jst",d.defer({assign_fn:function(){return function(a){return c=a}}(),lineno:124}));k("message.html.jst",
d.defer({assign_fn:function(){return function(a){return b=a}}(),lineno:126}));d._fulfill()})(function(){f("#controls").replaceWith(c.expand({list_address:"[[list_address|string-data]]",previous_thread:a.previous,next_thread:a.next,message:a.message,author_index:"[[author_index|string-data]]",date_index:"[[date_index|string-data]]",subject_index:"[[subject_index|string-data]]",thread_index:"[[thread_index|string-data]]"}));f("#message").replaceWith(b.expand(a.message));j()})};t=function(a){var c;return(c=
/\(([^)]+)\)/.exec(a))?c[1]:a};h.Adapter.bind(this,"statechange",function(){var a;if(a=h.getState())return s(a.data)});f(function(){return j()})}).call(this);
